.highlight {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #FAAE2C;
    -webkit-text-stroke: 2px #124FAF;
    letter-spacing: 1px;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#emoji-overlay {
    top: 5px;
    z-index: 100;
}

.over-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
	background-image: linear-gradient(#b1d7ff, #41aeff);
}

.name-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    z-index: 20;
}

.name-container img{
    height: 240px;
    width: auto;
}

.score-container {
    position: absolute;
    right: 8%;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-container img {
    height: 60px;
}

.score-container p {
    font-size: 60px;
    margin-left: 20px;
}

/* FOR GRID */

.images-container {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-grid {
    justify-content: center;
    width: 100%;
    gap: 16px;
    display: grid;
    grid-template-columns: 380px 380px 380px;
}

.image-div {
    z-index: 1;
    background-color: #fff;
    width: 350px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.image-div p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

.image-grid img {
    aspect-ratio: 16 / 11;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}




